{% extends 'base.html' %}
{% block title %}AJ-MyWatch{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron text-center" style="background-color:#DCDCDC">
            <div class="col-xs12">
                <div class="" style="margin-top:60px;"><h1>AJ-MyWatch</h1></div>
                <div style="color:#9A9A9A;margin-bottom:50px;">
                    <p style="margin-top:20px;">您可以記下電影、 影集、小說...等等的觀看記錄, 追劇或閱讀時再也不會忘記看到第幾集囉!</p>
                    <p style="margin-top:80px;"><a class="btn btn-primary btn-lg" href="/my_watch/" role="button">開始使用 »</a></p>
                </div>
            </div>
        </div>
        <!--<div class="col-xs-12 col-xs-offset-1">-->
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <h3 class="text-center" style="margin-bottom:30px;"><b>最近更新</b></h3>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                {% comment %}
                <!--<ol class="carousel-indicators">-->
                    <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                    <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
                    <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                <!--</ol>-->
                {% endcomment %}
                <div class="carousel-inner">
                    {% for i in anime_h %}
                        {% if forloop.first %}
                            {% if i.cover %}
                                <div class="item active">
                                    <a href="/watch_data/{{ i.id }}/"><img class="center-block" src="{{ i.cover.url }}"></a>
                                    <div class="carousel-caption">{{ i.name }}</div>
                                </div>
                            {% else %}
                                <div class="item active">
                                    <a href="/watch_data/{{ i.id }}/"><img class="center-block" src="{% static 'images/nocover.png' %}"></a>
                                    <div class="carousel-caption">{{ i.name }}</div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if i.cover %}
                                <div class="item">
                                    <a href="/watch_data/{{ i.id }}/"><img class="center-block" src="{{ i.cover.url }}"></a>
                                    <div class="carousel-caption">{{ i.name }}</div>
                                </div>
                            {% else %}
                                <div class="item">
                                    <a href="/watch_data/{{ i.id }}/"><img class="center-block" src="{% static 'images/nocover.png' %}"></a>
                                    <div class="carousel-caption">{{ i.name }}</div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control left" href="#myCarousel"
                    data-slide="prev">&lsaquo;
                </a>
                <a class="carousel-control right" href="#myCarousel"
                    data-slide="next">&rsaquo;
                </a>
            </div>
            <hr>
        </div>
        <!--<div class="col-xs-12 col-xs-offset-2">-->
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <h3 class="text-center" style="margin-bottom:30px;"><b>News</b><span style="font-size:16px;margin-left:20px;"><b>本站情報</b></span></h3>
            <div style="height:300px;overflow:auto;word-break:break-all">
                {% for i in news_h %}
                    <div class="dcolor" style="vmargin-bottom:10px;"><b>{{ i.date }}</b><span style="margin-left:20px">{{ i.news_type }}</span></div>
                    <div class="dcolor" style="margin-bottom:20px">{{ i.content }}</div>
                {% endfor %}
            </div>
            <br><br>
        </div>
    </div>
</div>


{% endblock %}
