{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %} AJ-MyWatch{% endblock %}

{% block style %}
.login-or {
    position: relative;
    font-size: 18px;
    color: #888;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

{% endblock %}

{% block content %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            {#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>#}
            <h4 class="modal-title">{% trans "Sign In" %}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well">
                        {% get_providers as socialaccount_providers %}
                        {% if socialaccount_providers %}
                            <a href="{% provider_login_url "facebook"%}?process=login" class="btn btn-primary btn-block">Facebook登入</a>
                        {% endif %}
                        <div class="login-or">
                            <hr class="hr-or">
                            <!--<span class="span-or">{% trans 'or' %}</span>-->
                        </div>
                        <form method="POST" action="{% url 'account_login' %}" novalidate="novalidate">
                            {% csrf_token %}
                            <div style="color:#C0392B;"><p>{{ form.non_field_errors|striptags }}</p></div>
                            <div class="form-group">

                                <label for="id_login" class="control-label">Username</label>
                                <input class="form-control" autofocus="autofocus" id="id_login" maxlength="30" name="login" placeholder="帳號" type="text" />
                                <span style="color:#C0392B;">{{ form.login.errors}}</span>
                            </div>
                            <div class="form-group">
                                <label for="id_password" class="control-label">Password</label>
                                <input class="form-control" id="id_password" name="password" placeholder="密碼" type="password" />
                                <div style="color:#C0392B;">{{ form.password.errors }}</div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="id_remember" name="remember" type="checkbox">記住我
                                </label>
                                <p class="help-block">(if this is a private computer)</p>
                            </div>
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            <button type="submit" name="submit" class="btn btn-success btn-block">{% trans "Sign In" %}</button>
                            <div class="visible-xs">
                                <br><a href="{{ signup_url }}" class="btn btn-default btn-block">{% trans "Sign Up" %}</a>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-xs-6 hidden-xs">
                    <p class="lead"><span class="text-success">免費</span>申請帳號</p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="fa fa-check text-success"></span>免費使用所有服務</li>
                        <li><span class="fa fa-check text-success"></span>沒有時間限制</li>
                    </ul>
                    <hr>
                    <p><a href="{{ signup_url }}" class="btn btn-info btn-block">{% trans "Sign Up" %}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% comment %}
<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>
{% endcomment %}

{% endblock %}
